{% extends 'layout.html' %}

    {% block content %}

        <h1>The Registration</h1>
        <br>
        <a href="{% url 'LoginForm' %}">Login Page</a> || <a href="{% url 'RegistrationForm' %}">Register</a>        <br>
        <br>
        <br/>
        <form action="" method="POST">

            {% csrf_token %}
            {{RegisterUser.username}}<br>
            {{RegisterUser.password1}}<br>
            {{RegisterUser.password2}}<br>

            <input type="submit" value="Enter">
        </form>
    
    {% endblock %}